body{
    background-color: grey;
    text-align: center;
}
#title {
    margin-top: 20px;
    color: rgb(48, 211, 81);
}
#OuterRec {
   background-color: rgb(255, 255, 255);
   height:750px;
   width: 400px;
   margin: auto;
   transform: translate(0,10%);
   border: 5px solid rgb(48, 211, 81);
   border-radius: 10px;
   
}
.grid 
{
    display: grid;
    background-color: rgb(48, 211, 81);
    border: rgb(48, 211, 81);
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    padding: 5px;
    height: 400px;
    width: 400px;
    margin: auto;
    transform: translate(-1%,0);
}
.grid div {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }
.line{
    height: 8px;
    background-color: rgb(48, 211, 81);
    border: none;
}
/* #scoreboard { 
    text-align: left;
} */
 .button {
    background-color: rgb(173, 237, 186);
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    margin-right: px;
    cursor: pointer;
 }
 #PageEnding {
    cursor: pointer;
    color: blue;
    margin-top: 90px;
    border: 2px solid #000000;
 }
 .win
 {
    background-color: green !important;
 }
